body {
  margin: 0;
  font-family: Arial;
  background: #0f0f0f;
  color: white;
  text-align: center;
}

.topbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #1c1c1c;
}

.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

input, button {
  font-size: 18px;
  padding: 12px;
  width: 90%;
  max-width: 300px;
  border-radius: 8px;
  border: none;
}

button {
  background: #2d7dff;
  color: white;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
}